<div id="header">
    <div id="test-div"></div>
    <nav>
        <a routerLink="" id="home-btn">Home</a>

        <div *ngIf="isLogged; else elseBlock">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/catalogue">Catalogue</a>
            <a href="javascript:void(0)" (click)="logOut($event)">Logout</a>

            <div id="cart-container">
                <a routerLink="/cart">X</a>
            </div>
        </div>

        <ng-template #elseBlock>
            <div>
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>
        </ng-template>
    </nav>
</div>