<section>
    <h3>Your profile</h3>

    <div id="profile-top">
        <div class="top-div">
            <h4>{{userData.username}}</h4>
        </div>

        <div class="top-div">
            <a routerLink="mail/{{userData.id}}">
                <h4>Mail</h4>

                <svg viewBox="0 0 200 120">
                    <rect
                        x="3"
                        y="3"
                        width="194"
                        height="114"
                        rx="2"
                        fill="white"
                        stroke="black"
                        stroke-width="6px"
                    />

                    <polyline 
                        points="5,7 100,60 195,7"
                        fill="none"
                        stroke="black"
                        stroke-width="6px"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
            
            <!-- <div id="mail-badge">
                <p>{{userData.unreadMail}}</p>
            </div> -->
        </div>

        <div class="top-div">
            <a routerLink="/edit/profile/{{userData.id!}}">
                <h4>Edit profile</h4>
            </a>
        </div>
    </div>

    <div id="profile-bottom">
        <div class="bottom-div">
            <h4>Your purchases</h4>
        
            <div class="results">
                <a class="products-result" *ngFor="let purchase of purchases" routerLink="/details/product/{{purchase}}">
                    <p>Product: {{purchase.name}}</p>
                    <p>Quantity: {{purchase.quantity}} PCS</p>
                    <p>Price: {{purchase.price}} BGN</p>
                </a>
            </div>
        </div>

        <div class="bottom-div">
            <h4>Your products</h4>
        
            <div class="results">
                <a class="products-result" *ngFor="let product of products" routerLink="/details/product/{{product.id}}">
                    <p>{{product.attributes.name}}</p>
                    <p>{{product.attributes.views}} views</p>
                    <p>Created on: {{product.createdAt.toLocaleDateString()}}</p>
                </a>
            </div>
        </div>

        <div class="bottom-div">
            <h4>Items sold</h4>
        
            <div class="results">
                <a class="sold-result" *ngFor="let item of sold" routerLink="/details/product/{{item.id}}">
                    <p>{{item.name}}</p>
                    <p>
                        {{item.quantity}}
                        <span>PCS</span>
                    </p>
                    <p>
                        {{item.price}}
                        <span>BGN</span>
                    </p>
                    <p>{{item.date.toLocaleDateString()}}</p>
                </a>
            </div>
        </div>
    </div>
</section>