<section>
    <h3>Your profile</h3>

    <div id="profile-top">
        <div class="top-div">
            <h4>{{userData.username}}</h4>
            <img src={{userData.image}} alt="user-image">
        </div>

        <div class="top-div">
            <h4>Ratings</h4>
            
            <div>
                <p>as buyer</p>
                <span>{{userData.ratingAsBuyer}}</span>
            </div>

            <div>
                <p>as seller</p>
                <span>{{userData.ratingAsSeller}}</span>
            </div>
        </div>

        <div class="top-div">
            <a routerLink="/mail">
                <h4>Mail</h4>

                <svg viewBox="0 0 200 120">
                    <rect
                        x="3"
                        y="3"
                        width="194"
                        height="114"
                        rx="2"
                        fill="white"
                        stroke="black"
                        stroke-width="6px"
                    />

                    <polyline 
                        points="5,7 100,60 195,7"
                        fill="none"
                        stroke="black"
                        stroke-width="6px"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
            
            <!-- <div id="mail-badge">
                <p>{{userData.unreadMail}}</p>
            </div> -->
        </div>
    </div>

    <div id="profile-bottom">
        <div>
            <h4>Purchases</h4>
            
            <div class="results">
                <div *ngFor="let purchase of userData.purchases">
                    ???
                </div>
            </div>
        </div>

        <div>
            <h4>Your products</h4>
        
            <div class="results">
                <div *ngFor="let product of userData.products">
                    ???
                </div>
            </div>
        </div>
    </div>
</section>