#section-results {
    position: relative;
    width: 100%;
    height: 214px;
}

.result {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 82px;
    padding: 0 0 1px 1px;
    transform: translateY(0);
    transition-duration: .1s;
    animation-duration: .30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    background-image: linear-gradient(white, black);
    border-radius: 3px;
}

.gradient-cover {
    position: relative;
    top: 1px;
    width: 100%;
    height: calc(100% - 1px);
    display: flex;
    background-color: #060607;
    border-radius: 3px;
}

.main-text {
    position: relative;
    width: calc(100% - 82px);
    height: 100%;
    padding: 0 0 4px 4px;
    overflow: hidden;
}

.main-info {
    position: relative;
    height: 30px;
    padding-left: 2px;
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
}

.main-text h3 {
    margin: auto 0;
    font-size: 18px;
}

.result-details {
    position: absolute;
    right: 0;
    margin: 3px 0;
    display: flex;
}

.result-details div {
    font-size: 10px;
    padding: 0 4px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #8d959e;
    background-color: rgba(0, 0, 0, .86);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .95);
}

.result-details span,
.result-details p {
    border-radius: 2px;
    letter-spacing: .5px;
}

.result-details span {
    margin: 0 auto 2px;
    font-size: 10px;
    line-height: 10px;
}

.result-details p {
    margin: 0 auto;
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    font-weight: bold;
}

.result-description {
    margin: auto 5px 0px;
    font-size: 13px;
    line-height: 13px;
    font-family: roboto;
    text-align: justify;
    overflow: hidden;
}

.main-text-fade {
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 6px;
    box-shadow: 0 -6px 6px 2px black;
}

#image-container {
    width: 80px;
    display: flex;
    background-color: aliceblue;
    border-radius: 2px;
    overflow: hidden;
}

img {
    max-width: 100%;
    margin: auto;
    border-radius: 2px;
}

@keyframes slideDown0 {
    0%{
        /* transform: translateY(0); */
        /* z-index: 2; */
        opacity: 0;
    }
    20%{
        /* z-index: 0; */
        /* transform: translateY(0); */
        /* opacity: 1; */
    }
    50%{opacity: 1;}
    100%{}
}

@keyframes slideDown1 {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{transform: translate(calc(32px - 32 * .2), calc(32px - 32 * .2));}
    100%{/* opacity: 1; */transform: translateY(32px, 32px);}
}

@keyframes slideDown2 {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{transform: translate(calc(64px - 64 * .2), calc(64px - 64 * .2));}
    100%{/* opacity: 1; */transform: translateY(64px, 64px);}
}

@keyframes slideDown3 {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{transform: translate(calc(96px - 96 * .2), calc(96px - 96 * .2));}
    100%{/* opacity: 1; */transform: translateY(96px, 96px);}
}

@keyframes slideDown4 {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{transform: translate(calc(128px - 128 * .2), calc(128px - 128 * .2));}
    100%{/* opacity: 1; */transform: translateY(128px, 128px);}
}

@keyframes slideDown5 {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{transform: translate(calc(160px - 160 * .2), calc(160px - 160 * .2));}
    100%{/* opacity: 1; */transform: translateY(160px, 160px);}
}

/* @keyframes slideDown6 {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{transform: translateY(230px);}
    100%{opacity: 1;
        transform: translateY(240px);}
}

@keyframes slideDown7 {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{transform: translateY(270px);}
    100%{opacity: 1;transform: translateY(280px);}
}

@keyframes slideDown8 {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{transform: translateY(310px);}
    100%{opacity: 1;transform: translateY(320px);}
}

@keyframes slideDown9 {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{transform: translateY(350px);}
    100%{opacity: 1;transform: translateY(360px);}
} */




















/* //////////////////////////////// */

.img-container {
    width: 100%;
    height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-container img {
    object-fit: contain;
}






















