h3 {
    text-align: center;
    margin: 20px 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
}

form {
    width: 62vw;
    max-width: 430px;
    padding: 15px;
    margin: auto;
    display: grid;
    grid-template-rows: 62px 62px 62px 62px 62px;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 20px;
    background-color: #466175;
    border-radius: 4px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .4);
}

form div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form div:nth-child(1) {
    padding-right: 93px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#upload-div {
    position: absolute;
    right: 0;
    top: 0;
    width: 78px;
    height: 100%;
    border-radius: 3px;
}

label {
    width: 100%;
    margin: 0 0 4px;
}

input, select {
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
}

input {
    padding: 10px 10px;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .5);
    /* border: 1px solid red; */
    outline: 1px solid rgba(0, 0, 0, .5);
    animation-name: focusBorder;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

select {
    padding-left: 5px;
}

#upload-label {
    width: 78px;
    height: 100%;
    display: grid;
    grid-template-rows: 17px 45px;
    grid-template-columns: 78px;
}

svg {
    height: 80%;
    margin: auto auto 0;
}

#files {
    visibility: hidden;
}

.submitButton {
    /* padding: 15px 20px; */
    width: 95px;
    height: 40px;
    margin: auto;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .9);
}

.addButton:active {
    transform: scale(.99, .98);
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .4);
}

p {
    width: 100%;
    margin: 35px 0;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
}

@keyframes focusBorder {
    0%{outline: 3px solid rgba(0, 0, 0, .5);}
    100%{outline: 1px solid rgba(0, 0, 0, .5);}
}