#page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

main {
    width: calc(100% + 17px);
    padding-right: 17px;
    height: 100%;
    overflow-y: scroll;
    background-color: #484e52;
    color: #afb9c5;
}
