<section>
    <h3 id="page-title">Catalogue</h3>
    
    <div id="catalogue-top">
        <a *ngFor="let link of departments | keyvalue" (click)="getByDepartment(link.key)" href="javascript:void(0);">
            {{link.value}}

            <img src="assets/svg/{{link.key}}.svg" id="{{link.key}}" class="svg" alt="">
        </a>
    </div>
    <!-- <app-section-results department="mostRecent"></app-section-results> -->
        
    <div id="search-section">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <div id="search-field">
                <input id="submit" type="submit" value="Search">
                <input type="text" formControlName="search">
            </div>
    
            <div id="search-options">
                <div id="search-criteria">
                    <label id="criteria-label" for="products">
                        Products
                        <input type="checkbox" formControlName="products" value="Products">
                    </label>
                    
                    <label id="criteria-label" for="users">
                        Users
                        <input type="checkbox" formControlName="users" value="Users" (click)="toggleSortCriterias($event.target!)">
                    </label>
                </div>

                <div id="sort-criteria" for="sort-criteria">
                    <span>Sort by</span>
                    
                    <div>
                        <label *ngFor="let option of sortCriteria | keyvalue" for="option.value">
                            <input type="radio" formControlName="sortCriteria" value={{option.key}}> {{option.value}}
                        </label>
                    </div>
                </div>

                <div id="sort-order">
                    <span>Order</span>
                
                    <select formControlName="sortOrder">
                        <option *ngFor="let option of sortOptions" value="{{option}}">
                            {{option}}
                        </option>
                    </select>
                </div>
            </div>
        </form>

        <a id="add-product" routerLink="/create">
            <p>Add product</p>

            <svg viewBox="0 0 100 100">
                <circle
                    cx="50"
                    cy="50"
                    r="50"
                    stroke="none"
                    fill="black"
                />

                <line
                    x1="30"
                    y1="50"
                    x2="70"
                    y2="50"
                    stroke="#E2E5DE"
                    stroke-width="6"
                    stroke-linecap="round"
                />

                <line
                    x1="50"
                    y1="30"
                    x2="50"
                    y2="70"
                    stroke="#E2E5DE"
                    stroke-width="6"
                    stroke-linecap="round"
                />
            </svg>
        </a>
    </div>

    <div id="seatch-results">
        <div id="results-header">
            <p>Product name</p>
            <p>Department</p>
            <p>Condition</p>
            <p>Price</p>
        </div>

        <app-catalogue-result *ngFor="let res of results" [res]="res"></app-catalogue-result>
    </div>
</section>