section {
    width: 94%;
    max-width: 640px;
    margin: auto;
}

h3 {
    margin: 20px 0 15px;
    text-align: center;
}

#catalogue-top {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#catalogue-top a {
    width: 90px;
    height: 72px;
    margin: 0 2px 10px;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e9f3;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .3);
}

.svg {
    height: 30px;
    margin: auto;
}

#fashion {
    height: 32px;
}

#hobbies {
    height: 29px;
}

#vehicles {
    height: 34px;
}

#search-section {
    margin: 6px 0 2px;
    display: flex;
}

form {
    /* width: 49%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
}

#search-field {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-template-rows: 22px;
}

input, select {
    height: 24px;
    border: none;
}

input:focus {
    outline: none;
}

input[type="text"] {
    width: 100%;
    padding: 0 4px;
    border-radius: 0 2px 2px 0;
}

#submit {
    width: calc(100% + 12px);
    padding: 0 12px 0 6px;
    text-align: left;
    background-color: #afb9c5;
    border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -khtml-border-radius: 2px 0 0 2px;
    border-radius: 0;
}

#search-options {
    width: 100%;
    padding: 6px 0 2px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#search-criteria,
#sort-criteria,
#sort-order {
    height: 60px;
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7eaee;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .3);
    text-shadow: 0 1px 2px white;
}

#search-criteria {
    padding: 0 2%;
}

#criteria-label {
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

input[type="checkbox"] {
    height: 13px;
    margin: 2px 0 8px;
}

#sort-criteria {
    flex-direction: column;
    font-size: 14px;
}

#sort-criteria label {
    margin: 0 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sort-criteria span {
    text-align: center;
}

#sort-criteria div {
    display: flex;
}

input[type="radio"] {
    height: 18px;
    margin-bottom: 2px;
}

#sort-order {
    padding: 0 8px;
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 4px;
}

select {
    width: 83px;
    height: 20px;
    max-width: 140px;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
}

select:focus {
    outline: none;
}

#add-product {
    width: 49%;
    max-width: 190px;
    min-height: 70px;
    max-height: 100px;
    padding: 6px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #E2E5DE;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #111f28;
}

#add-product:visited {
    color: #111f28;
}

#add-product svg {
    height: 36px;
}

#seatch-results {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 3px;
}

#results-header {
    display: grid;
    grid-template-columns: 1fr 89px 78px 51px;
    font-size: 15px;
}

#results-header {
    background-color: #acb6c2;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 3px 3px 0 0;
}

#results-header p {
    padding: 8px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-left: 2px solid rgb(43, 43, 43);
}

#results-header p:first-child {
    border-left: none;
}

#results-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes pulse {
    0%{box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);}
    50%{box-shadow: 0 0 4px 2px rgba(0, 0, 0, .5);}
    100%{box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);}
}